server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/courtierpro
    username: courtier
    password: courtier

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.springframework: INFO
