server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/courtierpro
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    hibernate:
      ddl-auto: update

aws:
  s3:
    bucket: ${AWS_S3_BUCKET}
  ses:
    region: ${AWS_REGION}
